h1 {
    background-color: bisque;
    color: blueviolet;
}

.TopHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.01vw 0.02vw;
    color: wheat;
}

.mainHeading {
    font-size: 5vw;
    background-color: black;
    padding: 0.1vw 3vw;
    border-radius: 5vw;
}

.tabLinks {
    display: flex;
    flex-direction: row;
    padding: 1vw 2vw;
    margin: 1vw 20vw;
}

.link {
    background-color: pink;
    padding: 0.3vw 1.5vw;
    margin: 0vw 2vw;
    border-radius: 2vw;
    font-size: 1.7vw;
}

a {
    text-decoration: none;
}

.forecast {
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
}

.inputLocation {
    border: 1px solid black;
    border-radius: 5vw;
    padding: 0.5vw 2vw;
    margin: 0.5vw 1vw;
}

.buttonSearch {
    border: 1px solid black;
    border-radius: 3vw;
    padding: 0.5vw 1vw;
    margin: 0.5vw 1vw;
}