<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>

    <link rel="stylesheet" href="./css/mainFile.css">
</head>
<body>
    <div class="TopHeading">
        <h1 class="mainHeading">Weather Fore-Cast</h1>
    </div>

    <div class="tabLinks">
        <div class="link">
            <a href="/showWeather">Weather</a>
        </div>
        <div class="link">
            <a href="/about">About</a>
        </div>
        <div class="link">
            <a href="/help">Help</a>
        </div>
    </div>

    <div class="forecast">
        <form action="">
            <input class="inputLocation" type="text" placeholder="Enter your Location">
            <button class="buttonSearch">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        
    </div>

    <div class="displayForecast">
        {{!-- <h3>Location : </h3> ${loc}
        <h3>Latitude : </h3> ${lat}
        <h3>Longitude : </h3> ${lng}
        <h3>Info : </h3> ${inf} --}}
    </div>

    <script src="./js/mainScript.js"></script>
</body>
</html>