<div>
    <h2>This is the Head-Section of the web-site...</h2>
    <p>Title of the Web-Page: '{{title}}'</p>
</div>

<div>
    <a href="/showWeather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>