<div>
    <h2>This is the End-Section of the WebPage...</h2>
    <h3>This message is comming from the '{{message1}}' section.</h3>
</div>

<div>
    <h3>The creator of the '{{title}}' section is {{creator}}.</h3>
    <h3>Brief: {{info}}</h3>
</div>